@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --topbar-h: 56px;
  --font-inter: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

.tnum {
  font-variant-numeric: tabular-nums;
}

/* MapLibre popups/controls tweaks */
.maplibregl-ctrl-attrib {
  font-size: 10px;
}

/* Thin scrollbars for panels */
.scroll-slim::-webkit-scrollbar {
  width: 8px;
}
.scroll-slim::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}
